extends layout

block content

    a(href="/") Go back

    h1= title



    if(currentUser)
        p Welcome to the clubhouse #{currentUser.username}
    else
        p Create an account to be able to write a message

    if(currentUser)
        if(!currentUser.club_member)
            div#join-club
                p Club members can see the author of the post
                a(href="/clubhouse/join_club") Join the club 
        else
            if(!currentUser.admin)
                p Admins can delete posts
                a(href="/clubhouse/admin_status") Admin
        if currentUser
            div#new-message
                a.new-message.button(href="/clubhouse/create_message") New message

    if messages 
        each message in messages
            div.message-container
                div.message-body
                    if(currentUser)
                        if currentUser.club_member
                            h5 #{message.member.username}
                    p #{message.message}
                    
                if(currentUser)
                    if(currentUser.admin)
                        a.del-btn(href=`/clubhouse/${message._id}`) X
    else    
        p No messages

